:root {
  --primary-color: #476268;
  --second-color: #40a798;
  --third-color: #f1f1f1;
  --fourth-color: #f5e1da;
  --shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

body {
  display: block;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  max-width: 800px;
  font-size: 18px;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  color: var(--primary-color);
  font-size: 52px;
}

h2 {
  color: var(--second-color);
  font-size: 40px;
}

h3 {
  color: var(--second-color);
  font-size: 30px;
}
.about {
  display: flex;
  justify-content: space-between;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.contact-link,
.about-link {
  border-radius: 5px;
  padding: 20px 30px;
  margin: 50px;
  background: var(--third-color);
  line-height: 1.5;
  box-shadow: var(--shadow);
  border: 1px solid #f1f1f1;
}
p {
  padding: 20px;
  margin: 30px;
  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: var(--third-color);
  line-height: 1.5;
  box-shadow: var(--shadow);
}

a {
  font-family: monospace;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
a:hover {
  color: var(--third-color);
}
